Product | Feature | fog | php-opencloud | jclouds | pyrax | pkgcloud | openstack.net | gorax | gophercloud
--------|---------|-----|---------------|---------|-------|----------|---------------|-------|------------
{{#feature_groups}}
{{#features}}
{{name}}|{{.}}| {{status_fog}} | {{status_php}} | {{status_jclouds}} | {{status_pyrax}} | {{status_pkgcloud}} | {{status_net}} | {{status_gorax}} | {{status_gophercloud}}
{{/features}}
{{/feature_groups}}