Feature: Multiline strings
  
  {{#my_tags}}
  {{.}}
  {{/mytags}}
  Scenario: Multiline strings containing code
    Given I have a password available
    When I execute the following code:
"""{{language}}
{{solution}}
"""
    Then it should succeed
